n8n_import.json
{
  "name": "Last-Mile Health Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-health-agent",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Vapi Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "patientPhone",
              "value": "={{ $json.body.caller.phone }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "intent",
              "value": "={{ $json.body.intent }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "symptomsText",
              "value": "={{ $json.body.slots ? $json.body.slots.symptoms : '' }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "language",
              "value": "={{ $json.body.language || 'hi' }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "prescriptionRaw",
              "value": "={{ $json.body.slots ? $json.body.slots.prescription_raw : '' }}",
              "type": "string"
            },
            {
              "id": "a6",
              "name": "callId",
              "value": "={{ $json.body.call_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-set",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputKey": "explain_prescription",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "explain_prescription",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "symptom_triage",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "symptom_triage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "node-switch",
      "name": "Intent Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:8000/patients/get-or-create",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.patientPhone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-patient-rx",
      "name": "Get Patient (Rx)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const prescription = items[0].json.prescriptionRaw || '';\nconst drugMatch = prescription.match(/(\\w+)\\s*(\\d+(?:\\.\\d+)?)\\s*mg/i);\nlet drugName = 'Medicine', doseMg = 0, frequency = '', timingNotes = '';\nif (drugMatch) { drugName = drugMatch[1]; doseMg = parseFloat(drugMatch[2]); }\nif (/subah.*shaam|morning.*evening|twice/i.test(prescription)) { frequency = 'twice daily'; timingNotes = 'subah aur shaam, khane ke baad'; }\nelse if (/subah|morning/i.test(prescription)) { frequency = 'once daily'; timingNotes = 'subah khane ke baad'; }\nelse { frequency = 'once daily'; timingNotes = 'khane ke baad'; }\nreturn [{ json: { ...items[0].json, drugName, doseMg, frequency, timingNotes } }];"
      },
      "id": "node-parse-rx",
      "name": "Parse Prescription",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        160
      ]
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:8000/collections/guideline_vectors/points/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"limit\": 3, \"with_payload\": true, \"filter\": { \"must\": [ { \"key\": \"condition\", \"match\": { \"value\": \"{{ $json.drugName.toLowerCase() }}\" } } ] } }",
        "options": {}
      },
      "id": "node-qdrant-rx",
      "name": "Qdrant Guideline (Rx)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1340,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = items[0].json;\nconst guideline = (item.result && item.result[0] && item.result[0].payload && item.result[0].payload.text) ? item.result[0].payload.text : 'Dawai doctor ke bataye anusaar lein. Koi bhi problem ho toh turant doctor se milein.';\nconst lang = item.language || 'hi';\nlet msg = '';\nif (lang === 'hi' || lang === 'hindi') { msg = `${item.drugName} ${item.doseMg}mg ki goli ${item.timingNotes} leni hai.\\n${guideline}\\nYaad rakhen: yeh dawai bina doctor ki salaah ke band na karein.`; }\nelse if (lang === 'kn' || lang === 'kannada') { msg = `${item.drugName} ${item.doseMg}mg dose tegeyabeku. ${item.timingNotes}.\\n${guideline}`; }\nelse if (lang === 'ta' || lang === 'tamil') { msg = `${item.drugName} ${item.doseMg}mg ${item.timingNotes} edukkavum.\\n${guideline}`; }\nelse { msg = `Take ${item.drugName} ${item.doseMg}mg ${item.frequency}, ${item.timingNotes}.\\n${guideline}`; }\nreturn [{ json: { responseText: msg, riskLevel: 'low', needsReminder: true, escalate: false, drugName: item.drugName, patientPhone: item.patientPhone, callId: item.callId, language: lang } }];"
      },
      "id": "node-build-rx",
      "name": "Build Rx Explanation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        160
      ]
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:8000/reminders/schedule",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.patientPhone }}"
            },
            {
              "name": "drugName",
              "value": "={{ $json.drugName }}"
            },
            {
              "name": "language",
              "value": "={{ $json.language }}"
            },
            {
              "name": "callId",
              "value": "={{ $json.callId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-reminder",
      "name": "Schedule Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1780,
        160
      ]
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:8000/patients/get-or-create",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.patientPhone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-patient-triage",
      "name": "Get Patient (Triage)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        440
      ]
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:8000/collections/guideline_vectors/points/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"limit\": 3, \"with_payload\": true, \"filter\": { \"must\": [ { \"key\": \"category\", \"match\": { \"value\": \"symptom_triage\" } }, { \"key\": \"language\", \"match\": { \"value\": \"{{ $json.language }}\" } } ] } }",
        "options": {}
      },
      "id": "node-qdrant-triage",
      "name": "Qdrant Guideline (Triage)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        440
      ]
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:8000/collections/encounter_vectors/points/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"limit\": 2, \"with_payload\": true, \"filter\": { \"must\": [ { \"key\": \"patient_phone\", \"match\": { \"value\": \"{{ $json.patientPhone }}\" } } ] } }",
        "options": {}
      },
      "id": "node-qdrant-history",
      "name": "Qdrant Past Encounters",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1340,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = items[0].json;\nconst symptoms = (item.symptomsText || '').toLowerCase();\nconst lang = item.language || 'hi';\nconst guidelineText = (item.result && item.result[0] && item.result[0].payload && item.result[0].payload.text) ? item.result[0].payload.text : 'Paani piyen, aaram karein, paracetamol le sakte hain agar allergy na ho.';\nconst redFlags = ['breathlessness', 'chest pain', 'confusion', 'bleeding', 'unconscious', 'seizure', 'nas band', 'sans lena mushkil'];\nconst hasRed = redFlags.some(f => symptoms.includes(f));\nlet risk = 'low';\nif (hasRed) risk = 'high';\nelse if (symptoms.includes('fever') && symptoms.includes('cough')) risk = 'medium';\nconst urgencyHi = risk === 'high' ? 'CHETAVNI: Turant 108 call karein ya najdeeki aspatal jayein.' : risk === 'medium' ? '24 ghante mein agar aaram na mile toh doctor se milein.' : 'Ghar par dekhbhal karte rahein.';\nconst urgencyKn = risk === 'high' ? 'ECCARIKE: Turant 108 call madi ya hospital ge hogi.' : risk === 'medium' ? '24 gante mele sudharaneyagade iddare doctor nodi.' : 'Maneyalli elagadi madi.';\nconst urgencyTa = risk === 'high' ? 'EDARCIKKAI: Udan 108 call seyyungal ya hospital sellungal.' : risk === 'medium' ? '24 manikku ulle sumai kurayavillai endral doctor idam selvungal.' : 'Veetil kadhai pathukaththudan irungal.';\nlet msg = '';\nif (lang === 'hi' || lang === 'hindi') { msg = `Aapke lakshan: ${item.symptomsText}\\nSalah: ${guidelineText}\\n${urgencyHi}`; }\nelse if (lang === 'kn' || lang === 'kannada') { msg = `Nimma lakshanagalu: ${item.symptomsText}\\nSahaaya: ${guidelineText}\\n${urgencyKn}`; }\nelse if (lang === 'ta' || lang === 'tamil') { msg = `Ungal arikauraigal: ${item.symptomsText}\\nUtavi: ${guidelineText}\\n${urgencyTa}`; }\nelse { msg = `Symptoms: ${item.symptomsText}\\nAdvice: ${guidelineText}\\n${risk === 'high' ? 'Seek immediate care.' : risk === 'medium' ? 'See a doctor if no improvement in 24 hours.' : 'Continue home care.'}`; }\nreturn [{ json: { responseText: msg, riskLevel: risk, needsReminder: False, escalate: risk === 'high', patientPhone: item.patientPhone, callId: item.callId, language: lang } }];"
      },
      "id": "node-build-triage",
      "name": "Build Triage Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { responseText: 'Mujhe is sawaal ka sahi jawab nahi pata. Kripya apne najdeeki doctor ya health center se baat karein.', riskLevel: 'low', needsReminder: false, escalate: false, patientPhone: items[0].json.patientPhone || '', callId: items[0].json.callId || '', language: items[0].json.language || 'hi' } }];"
      },
      "id": "node-default",
      "name": "Default Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        680
      ]
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:8000/logs/call",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "callId",
              "value": "={{ $json.callId }}"
            },
            {
              "name": "patientPhone",
              "value": "={{ $json.patientPhone }}"
            },
            {
              "name": "riskLevel",
              "value": "={{ $json.riskLevel }}"
            },
            {
              "name": "escalate",
              "value": "={{ $json.escalate }}"
            },
            {
              "name": "responseText",
              "value": "={{ $json.responseText }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-log",
      "name": "Audit Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2000,
        440
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response_text: $json.responseText, risk_level: $json.riskLevel, escalate: $json.escalate, reminder_set: $json.needsReminder || false }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "node-respond",
      "name": "Respond to Vapi",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2220,
        440
      ]
    }
  ],
  "connections": {
    "Vapi Webhook": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Intent Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Switch": {
      "main": [
        [
          {
            "node": "Get Patient (Rx)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Patient (Triage)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Default Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Patient (Rx)": {
      "main": [
        [
          {
            "node": "Parse Prescription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Prescription": {
      "main": [
        [
          {
            "node": "Qdrant Guideline (Rx)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Guideline (Rx)": {
      "main": [
        [
          {
            "node": "Build Rx Explanation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Rx Explanation": {
      "main": [
        [
          {
            "node": "Schedule Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Reminder": {
      "main": [
        [
          {
            "node": "Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Patient (Triage)": {
      "main": [
        [
          {
            "node": "Qdrant Guideline (Triage)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Guideline (Triage)": {
      "main": [
        [
          {
            "node": "Qdrant Past Encounters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Past Encounters": {
      "main": [
        [
          {
            "node": "Build Triage Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Triage Response": {
      "main": [
        [
          {
            "node": "Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Fallback": {
      "main": [
        [
          {
            "node": "Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Log": {
      "main": [
        [
          {
            "node": "Respond to Vapi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "last-mile-health-agent"
  },
  "id": "last-mile-health-agent",
  "tags": []
}